body {
    padding: 0;
    background: #a1e6a1;
    font-family: Verdana, Arial;
    margin: 60px 30px 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background: grey;
    box-shadow: 10px 0 10px black;
    padding: 8px;
    font-size: 18px;
}

nav a {
    color: black;
    text-decoration: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: 5px;
    padding: 0 12px;
    border-radius: 6px;

}